
/*------------------------------- general ------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

/*---- Buttons ---*/
.button {
    width:162px;
    height:37px ;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 0 33px;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    transition: all 0.4s;
}

.dt-submit {
    padding-top: 4px;
    width: 200px;
    height: 51px;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
}

.dt-submit:hover {
    background-color: rgba(228, 228, 228, 0.3);
    border: 1px solid rgba(54, 54, 54, 0.5);
    border-radius: 2px;
    color: rgba(7, 7, 7);
}
 
.button:hover, .video-play:hover {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

/*------- Titles ----*/
.special, h1, h2 , h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #E3B873;
}

/*------------- Checkbox ------*/
.checkbox {
    display: none;
}

.checkbox-box {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-left: 238px;
    padding-top: 34px;
}

.checkbox-box .label {
    display: flex;
    flex-direction: row;
}

.new-checkbox {
    display: inline-block;
    border:1px solid rgba(54, 54, 54, 0.3);
    width: 18px;
    height: 18px;
    position: relative;
    border-radius: 1px;
    background-color: #E3B873;
}

.new-checkbox::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    opacity: 0;
}

.checkbox1:checked + .new-checkbox::before, 
.checkbox2:checked + .new-checkbox::before,
.checkbox3:checked + .new-checkbox::before {
    background-image: url("../images/forCheckbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    opacity: 1;
}

.fix-container {
    width: 1440px;
    margin:0 auto;
}

/*-------------------------------/ general------------------------------------*/

/*------------------------------- HEADER -------------------------------------*/
.header {
    height: 83px;
    font-size: 11px;
    color: #E3B873;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    padding:24px 90px 22px 90px;
    margin: 0 auto;

}

.logo {
    width: 176px;
    padding-top: 2px;
}

.nav {
    width: 581;
    margin-left:61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list {
    padding-top: 2px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    margin-left: 54px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item:last-child {
    margin-left: 99px;
}


.nav-item a {
    color: #fff;

}

.nav-item a:hover {
    color: #E3B873;

}
.tel a:hover {
    text-decoration: underline;

}

/*----------------------------- / HEADER --------------------------------------*/

/*------------------------------- MAIN ----------------------------------------*/

/* ----------------- First Container -------------------*/
.first-container {
    background-image: url("../images/image4.3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Yeseva One';
    color: #fff;
}

.box-opacity {
    min-height: 707px;
    padding: 194px 0 0 134px;
    background-color: rgba(11, 11, 11, 0.65);
}

.text-content {
    margin-bottom: 41px;
}

.title {
    color: #fff;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 17px;
}

.discription {
    font-size: 22px;
    line-height: 36px;
}

.buttons {
    margin-top: -17px;
}

.bt-first-container {
    margin-right: 17px;
    text-align: center;
    width: 207px;
    height: 51px;
    padding: 0;
}

/*---------------------------- Secon Container -------------------------------*/
.second-container {
    background-color: #131313;
    text-transform: uppercase;
    padding-top: 106px;
    padding-bottom:253px ;
}

.room-list {
    margin-left: 627px;
    display: flex;
    flex-direction: row;
    margin-bottom: 51px;
}

.room-list_item {
    margin-right: 61px;
    
}

.admiral {
    font-family: "Yeseva One";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 6px;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.room-link {
    font-family: "Yeseva One";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
}

.class-items a:hover {
    padding-bottom: 6px!important;
    color: #E3B873!important;
    border-bottom: 1px solid #E3B873!important;
    transition: all 0.5s;
}

.second-container_title {
    margin-top: -3px;
    padding-bottom: 26px;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

/*------------ Swiper ----------*/
.swipers-containers {
    color: #fff;
    padding: 0  135px 0 135px;
    display: grid;
    min-width: 0;
}

.description {
    grid-row: 1;
    grid-column: 1;
    width: 506px;
}

.description-text  {
    text-transform: none;
    font-size: 14px!important;
    line-height: 27px!important;
}

.first-swiper_right {
    min-width: 0;
    grid-row: 1/2;
    grid-column: 2;
    margin-left:-14px;
}

.text-swiper {
    width: 429px;
    height: 270px;
    margin-top: -258px;
    margin-left: -1px;
    margin-bottom: 77px;

}

.swiper-slide{
    width: 700px;
    display: grid;
}

.city {
    grid-row: 1;
    grid-column: 1;

}

.area {
    grid-column: 2;
    grid-row: 1;
}

.time {
    margin-top: -64px;
    grid-column: 1;
    grid-row: 2;
}
.cost {
    margin-top: -64px;
    grid-column: 2;
    grid-row: 2;
} 

.swiper-slide img {
    width: 679px;
    height: 482px;
}

.swiper-slide h3 {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 25px;
}

.swiper-slide p {
    text-transform: none;
    font-size: 13px;
    line-height: 21px;
}

.swiper-button-prev::after, .swiper-button-next::after {
    display: none;
}

.swiper-button-next:hover {
    background-image: url("../images/VectorNext.Hover.svg");
}

.swiper-button-prev:hover {
    background-image: url("../images/VectorPrev.Hover.svg");
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet { 
    background-color: rgba(255, 255, 255, 0.3);
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-right: 13px!important;
} 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #fff;
}


.swiper-button-next, .swiper-button-prev {
    margin-top: 10px;
    width: 42px!important;
    height: 15px!important;
    background-repeat: no-repeat;
    position: static!important;
}

.swiper-pagination {
    margin-left: -107px!important;
}

.swiper-button-next {
    background-image: url("../images/VectorNext.svg");
}

.swiper-button-prev {
    background-image: url("../images/VectorPrev.svg");
}

.images-swiper .swiper-button-prev {
    display: none;
}

.images-swiper .swiper-button-next {
    display: none;
}

.vectors {
    margin-top: -35px;
    width: 207px;
    display: flex;
    justify-content: space-between;
}
/*---------- / Swiper ----------*/
/*-----------------------------Third Container--------------------------------*/

.third-container {
    margin-top: -223px;
    margin-left: 2px;
}

.online-logo {
    padding-top: 2px;
    margin-left: 624px;
}

.video {
    margin: 0 auto;
    width: 818px;
    height: 434px;
    background-image: url("../images/video.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 38px;
}

.opacity-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 818px;
    height: 434px;
    background-color: rgba(0, 0, 0, 0.8);;
}

.video-play {
    margin-top: -9px;
    margin-left: -3px;
    text-align: center;
    width: 86px;
    height: 86px;
    border-radius: 50px;
    background-color: #E3B873;
    transition: all 0.3s;
}

.video-play img{
    margin-top: 6px;
    margin-left: 3px;
}

.video-play:hover {
    border-radius: 50PX;
}

.video-Control-descript {
    margin: 0 auto;
    font-size: 18px;
    line-height: 37px;
    width: 681px;
    text-align: center;
    margin-bottom:80px;
}

.video-Control-descript p {
    padding-top: 15px;
}

/*---------- Form 1 --------------*/
.form{
    margin-left: 336px;
    margin-right: 334px;
}

form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.label-form1, .label-form2 {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form-inputs  {
    display: flex;
    flex-direction: column;
}

.first-form input {
    margin-right: 2px;
    font-size: 14px;
    line-height: 23px;
    height: 26px;
    outline: none;
    width: 236px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.first-form input::placeholder {
    color: #363636;
}

.checkbox-text {
    color: #181818;
    font-size: 14px;
    line-height: 163%;
    margin-left: 8px;
}

/*---------- / Form --------------*/

.types-of-repair {
    padding-top: 143px;
    padding-right: 2px;
    margin-bottom: 314px;
}

.box-logo {
    width: 257px;
    height: 67px;
    background-image: url("../images/types_of_repair.svg");
    background-size: cover;
    margin: 0 auto ;
}

.types-container {
    padding-top: 31px;
}

.types-content {
    margin-left: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.types-item {
    padding-top: 295px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 392px;
    height: 421px;
    margin-left: 30px;
}
.types-content li:first-child {
    margin-left: 0;
}

.types-item1 {
    background-image: url("../images/image.item1.jpg");

}

.types-item2 {
    background-image: url("../images/image.item2.jpg");
}

.types-item3 {
    background-image: url("../images/image.item3.jpg");
}

.lists-box {
    padding-top: 22px;
    padding-left: 30px;
    padding-bottom: 44px;
    margin: 0 auto;
    width: 330px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.list-title{
    font-family: 'Yeseva One';
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.item-list{
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.drop {
    margin-top: -1px;
    display: inline-block;
    margin-right: 4px;
    width: 5px;
    height: 5px;
    border-radius: 30px;
    background-color:rgba(54, 54, 54, 0.5);
}

.types-labels {
    margin-left: 30px;
    margin-top: -27px;
}

.label-types {
    width: 229px;
    height: 54px;
    padding: 0px;
    padding-top: 17px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    color: #fff;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

/*------------------- Request Section --------------*/
.request-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1px;
    padding-left: 0px;
}

.free-services {
    width: 1006px;
    height: 645px;
    background-image: url("../images/image6.1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.form-conteiner {
    padding-top: 104px;
    padding-right: 98px;

}
.request-form {
    width: 508px;
    height: 510px;
    padding-top: 27px;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}


.form-title {
    padding-right: 2px;
    width: 297px;
    height: 47px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 38px;
}
/*-------------------- Second-Form -------------------*/
.second-form {
    padding: 0 49px 0 49px;
    display: block;
}

.label-form2 {
    color: rgba(255, 255, 255, 0.5);
}

.input {
    line-height: 29px;
    letter-spacing: 0.3px;
    width: 410px;
    margin-bottom: 47px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #131313;
    color: #FFFFFF;
}

.input::placeholder , .checkbox2-text{
    color: #FFFFFF;
}

.checkbox-box2 {
    justify-content: start;
    margin-top: -65px;
    margin-left: 0px;
    margin-bottom: 34px;
}

.checkbox2-text {
    font-size: 14px;
    line-height: 23px;
    margin-left: 8px;
}

.dt-form2 {
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    margin-left: 195px;
    width: 214px;
    height: 51px;
}

/*-------------------------------------------*/

.help-logo {
    margin-left: 846px;
    padding-bottom: 203px;
}

/*----------------------- Fifth Container -----------*/
.fifth-container {
    margin: 0 auto;
    background-image: url("../images/image5.1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.fifth-container-opasity {
    display: flex;
    flex-direction: row;
    padding-top: 134px;
    padding-bottom: 42px;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.list-container {
    margin-bottom: 42px;
}
.room-classes {
    margin-left: 99px;;
}

.classes-title {
    font-family: 'Yeseva One';
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 37px;
}

.class-items {
    margin-bottom: 13px;
}

.class-items a {
    color: #fff;
    font-size: 20px;
    line-height: 37px;
}

.class-items a:hover {
    padding-bottom: 2px;
}

.room-images {
    max-width: 722px;
    height: 1059px;
    margin-left: 544px;
    display: flex;
    flex-direction: row;
    margin-top: -979px;

}

.images-box1 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.images-box2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.room-images img  {
    padding-bottom: 39px;
    padding-left: 43px;
    width: 398px;
}

.img-1 {
    height: 598px;
}

.img-2 {
    height: 313px;
}
.img-3 {
    height: 664px;
}
.img-4 {
    height: 389px;
}

.swipper-box_mobile {
    display: none;
}
/*-------------- Our Clients --------------------*/
.our-clients {
    margin: 0 auto;
    text-align: center;
    padding-top: 29px;
}

.our-clients-title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #181818;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.our-clients-logo {
    margin-bottom: 8px;
}
.our-clients-text {
    padding-top: 8px;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 38px;
}

.cliens-cards {
    padding: 0px 100px 0 103px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    padding-top: 25px;
    padding-left: 19px;
    text-align: left;
    width: 374px;
    height: 428px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);  
}

.client-photo {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.client-photo img {
    margin-right: 22px;
    display: inline;
    border-radius: 50px;
}

.cliet-name {
    padding-top:16px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.card-text {
    margin-left: -2px;
    margin-bottom: 5px;
    width: 327px;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.card-labels {
    margin-left: -1px;
    margin-top: -25px;
}
.card-label {
    display:flex;
    flex-direction: row;
    width: 295px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.line-vetrical {
    margin-left: 22px;
    width: 1px;
    height: 54px;
    background-color: #ffffff;
}

.notepad, .vector {
    margin-top: 10px;
    margin-left: 18px;
    width: 32px;
    height: 32px;
}

.card-label p {
    padding-left: 13px;
    padding-top: 16px;
    font-family: 'Yeseva One';
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.backgraund-images img {
    width: 724px;
    height: 739px;
}
.backgraund-images {
    display: flex;
    flex-direction: row;
    margin-top: -378px;

}
/*-------------------------- Quetions ------------------------------*/

.questions-form-container {
    width: 885px;
    height: 445px;
    margin-left: 287px;
    margin-top: -228px;
    padding-top: 33px;
    background: rgb(19, 19, 19);
    backdrop-filter: blur(20px);
}

.qs-title {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 43px;
}

.questions-form-box {
    width: 523px;
    margin: 0 auto;
}

.qs-form {
    display: grid;
}

.form-inputs {
    margin: 0;
    padding: 0;
    width: 231px;
}

.qs-input {
    width: 231px;
    line-height: 25px;
    background: rgb(19, 19, 19, 0.2);

}

.qs-name-in {
    grid-row: 1;
    grid-column: 1;
}

.qs-phone-in {
    grid-row: 1;
    grid-column: 2;
}

.qs-text-in {
    grid-row: 2;
}

.qs-text {
    width: 517px;
}

.checkbox-box3 {
    margin-top: -34px;
    margin-left: 116px;
}

.qs-checkbox {
    text-align: center;
    grid-row: 3;
    grid-column: 1/3;
    margin-bottom: 46px;
    margin-left: 3px;
}

.bt-qustion {
    grid-row: 4;
    grid-column: 1/3;
    margin-left: 162px;
}


.bt-qustion:hover {
    color: #FFFFFF;
}

/*------------------ Sixth Container -------------------*/
.sixth-container {
    margin-top: -223px;
    background-image: url("../images/building.png");
}

.sixth-container-opasity {
    padding-top: 274px;
    padding-bottom: 61px;
    text-align: center;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.sixth-container-opasity h2 {
font-size: 20px;
line-height: 28px;
margin-bottom: 22px;
}

.email-insta {
    margin-left: -15px;
    margin-bottom: 38px;
}
.email-insta img {
    margin-left: 11px;
}

.map {
    margin-left: -6px;
}

/*------------------------------- / Main ------------------------*/
/*--------------- Footer ---------------------*/
.footer {
    padding:48px 90px 48px 90px;
    height: 133px;
}

/*----------------- Animationen ---------------*/

@keyframes animation {
    0% {
        color: rgba(255, 255, 255, 0.3);
        border-bottom: 0px solid rgba(255, 255, 255, 0.3);
    }
    100% {
        color: #E3B873;
        border-bottom: 1px solid #E3B873;
    }
  }

  /*--------------- Media -----------------*/
  @media (max-width:1299px) {
    .bt-navt {
    display: none;
    }
}